Repository theorib/next-js-boiler-room: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

♻️ refactor(test): remove unnecessary await statements
  src/__tests__/page.test.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(eslint): migrate from .eslintrc.json to eslint.config.ts
  .eslintrc.json
  eslint.config.ts
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

🔧 chore(.gitignore): update gitignore for Vitest screenshots
  .gitignore
Due: none

✨ feat(package): update dependencies and configuration
  package.json
  postcss.config.cjs
  postcss.config.mjs
  src/app/globals.css
  src/lib/utils.ts
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

✨ feat(app): add counter functionality to homepage
  package.json
  src/__tests__/Basic.test.tsx
  src/__tests__/page.test.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

✨ feat(config): add components configuration file for shadcn
  components.json
  package.json
Due: prettier -w

chore(husky): restrict actions to main branch only
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
Due: prettier -w

chore(lock file): update pnpm-lock.yaml to reflect package.json
  pnpm-lock.yaml
Due: none

🔧 chore(types): remove old vitest types and add new shims
  src/testUtils/vitest-types.d.ts
  src/vitest.shims.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

✨ feat(config): migrate next configuration to typescript
  next.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

📝 docs(README): update project description and tooling information
  README.md
Due: prettier -w

♻️ refactor(tsconfig): improve configuration order and clarity
  tsconfig.json
Due: prettier -w

build(scripts): update package scripts and dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

♻️ refactor(config): convert config files to TypeScript
  commitlint.config.ts
  lint-staged.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

📝 docs(README): enhance setup and script instructions
  README.md
Due: prettier -w

♻️ refactor(husky): update pre-commit test command
  .husky/pre-commit
  package.json
Due: prettier -w

💄 style(eslint): update eslint configuration
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(scripts): add prettier format scripts
  package.json
Due: prettier -w

💄 style(tailwind): apply prettier formatting to tailwind config
  tailwind.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🐛 fix(components): resolve typescript errors in shadcn components
  src/components/ui/alert.tsx
  src/components/ui/calendar.tsx
  src/components/ui/pagination.tsx
  src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

✨ feat(components): add dark mode switch and main provider
  src/components/custom/DarkModeSwitchBtn.tsx
  src/components/providers/MainProvider.tsx
  src/components/providers/theme-provider.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

💄 style(hooks): disable eslint rule for unused vars
  src/hooks/use-toast.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🐛 fix(chart): resolve typescript issues in chart component
  src/components/ui/chart.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

✨ feat(test): add bar chart component to test page
  src/app/shadcn-test/page.tsx
  src/components/test-components/BarChartComponent.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

📦 build(dependencies): update package dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

🐛 fix(eslint): include ts and tsx files in config
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

💄 style(hooks): update typescript syntax style with eslint
  src/hooks/use-toast.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

✨ feat(shadcn-test): add area chart component
  src/app/shadcn-test/page.tsx
  src/components/test-components/AreaChartComponent.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

💄 style(css): update color variables for consistency
  src/app/globals.css
Due: prettier -w

✨ feat(eslint): add jsx-a11y rule
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🐛 fix(chart): resolve typescript errors in chart component
  src/components/ui/chart.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🐛 fix(sidebar): update cookie handling for next.js compatibility
  package.json
  pnpm-lock.yaml
  src/components/providers/MainProvider.tsx
  src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

💄 style(ui): update sidebar cookie name for clarity
  src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

✨ feat(layout): integrate MainLayout component
  src/app/layout.tsx
  src/app/page.tsx
  src/components/test-components/DarkModeSwitchBtn.tsx
  src/components/test-components/MainLayout.tsx
  src/components/test-components/MainSidebarComponent.tsx
  src/components/test-components/PageHeaderComponent.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

♻️ refactor(eslint): apply eslint configuration naming conventions
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

♻️ refactor(eslint): enable jest-dom and testing-library plugins
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  tsc --noEmit --skipLibCheck: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
