Repository theorib/next-js-boiler-room: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w

chore(husky hooks): call husky.sh on all husky hooks
  .husky/commit-msg
  .husky/post-merge
Due: none

chore: update typescript eslint-plugin and eslint-parser
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: update husky to from version 8.x.x to version 9.x.x
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: update testing library to latest version
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: remove linting and ts checks from next builds and move them to lint-staged workflow
  .lintstagedrc
  next.config.mjs
  package.json
  postcss.config.cjs
  tsconfig.json
Due: prettier -w

fix(lint-staged): change lint-staged config to lint-staged.config.mjs
  .lintstagedrc
  lint-staged.config.mjs
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: add a verboose flag to lint-staged on husky pre-commit
  .husky/pre-commit
Due: none

chore: remove cache flag from eslint on lint-commit
  lint-staged.config.mjs
Due: none

fix(next.config.mjs): fix error ignoreBuildErrors
  next.config.mjs
Due: none

fix: eslint rules and regenerate pnpm-lock.yaml
  .eslintrc.json
  .husky/pre-commit
Due: prettier -w

fix(pnpm-lock.yaml): regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update next to 15.0.0-rc and react to 19.0.0-rc and update dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier -w

refactor(.husky hooks): remove unnecessary shebang and sourcing husky.sh script from husky hooks
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

feat: add .env validation with zod using @t3-oss/env-nextjs
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/lib/env.ts
Due: eslint --fix, prettier --write, prettier -w

chore(package.json pnpm-lock.yaml): update dependencies and fix vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix(layout.tsx): remove unused variables
  src/app/layout.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix: fix missing react type imports
  src/app/layout.tsx
  src/testUtils/mockNextFontGoogle.tsx
Due: eslint --fix, prettier --write

fix(tailwind): change daisyui import from cjs to esm format
  tailwind.config.ts
Due: eslint --fix, prettier --write

ensure husky only operates in the master branch
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

docs(husky hoooks): add comments to hooks conditionals
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

refactor(package.json): change project name and version
  package.json
Due: prettier -w

chore(package.json): update CI dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore(package.json): update testing dependencies to latest versions
  package.json
Due: prettier -w

chore(typescript): update typescript to latest version
  package.json
Due: prettier -w

chore(eslint.config.mjs, package.json): upgrade eslint to v9+ and NextJS to v15+ and React to v19
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier -w

feat(eslint.config.mjs package.json): implement customised eslint configuration
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier -w

feat(eslint.config.mjs, package.json): refine next.js and typescript rules, add jsx-a11y
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier -w

style: enforce new eslint rules
  src/lib/utils.ts
  src/testUtils/mockNextFontGoogle.tsx
Due: eslint --fix, prettier --write

feat(TailwindCSS): Upgrade Tailwind to v4 and remove daisyui
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  postcss.config.mjs
  src/app/globals.css
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier -w

feat: Add shadcn/ui components and tailwind setup
  components.json
  src/__tests__/Basic.test.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write, prettier -w

feat(Vitest): setup vitest browser mode with playwright
  .gitignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/page.test.tsx
  src/app/page.tsx
  src/testUtils/setupTests.ts
  src/testUtils/vitest-types.d.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, prettier --write, prettier -w

refactor(vitest): improve testing setup
  src/__tests__/page.test.tsx
  src/testUtils/setupTests.ts
  src/testUtils/vitest-types.d.ts
  tsconfig.json
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, prettier -w

chore(package.json): update dependencies and remove unused ones
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix(eslint.config.mjs): improve file pattern matching
  eslint.config.mjs
Due: none

refactor(eslint): enhance eslint configuration for TypeScript
  eslint.config.mjs
Due: none

chore(package): update linting scripts and dependencies
  package.json
Due: prettier -w

♻️ refactor(eslint): rename eslint configuration to TypeScript
  eslint.config.mjs
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier -w

✅ test(tests): add boolean generic tests with vitest using jsdom
  src/__tests__/boolean-generic.test.jsdom.ts
Due: eslint --fix, prettier --write

✨ feat(vitest): update test file includes for js and jsx
  vitest.workspace.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
