Repository theorib/next-js-boiler-room: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "tsc --noEmit --skipLibCheck"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

🔧 chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore: uninstall @types/eslint__eslintrc
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(typescript): update typescript to version 5.8.2
  package.json
  pnpm-lock.yaml
Due: prettier -w

📝 docs: update README with new versions and tooling details
  README.md
Due: prettier -w

🏗️ build: remove console.logs in production
  next.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(deps): update dependencies list
  package.json
  pnpm-lock.yaml
Due: prettier -w

🐛 fix(dependencies): update Next.js to version 15.2.4 to address vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore: update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

✨ chore: update dependencies and add sort script
  package.json
  pnpm-lock.yaml
Due: prettier -w

🐛 fix: update eslint config and dependencies
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

🐛 fix(calendar): update react-day-picker to v9.6.7
  src/components/ui/calendar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

♻️ refactor(calendar): replace lucide-react icons with their direct imports
  src/components/ui/calendar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore: update dependencies and remove @types/recharts
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore: update dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(deps): upgrade dependencies for improved stability and features
  package.json
  pnpm-lock.yaml
Due: prettier -w

🐛 fix(eslint): resolve type errors after dependency updates
  eslint.config.ts
  src/__tests__/page.test.tsx
  src/components/ui/chart.tsx
  src/components/ui/sidebar.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(deps): update vitest and migrate browser testing configuration
  vitest.config.ts
  vitest.workspace.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

♻️ refactor(tsconfig): update compiler options and exclude paths
  tsconfig.json
Due: prettier -w

🔧 chore(deps): upgrade babel, browserslist, and related transient dependencies
  pnpm-lock.yaml
Due: none

🔧 chore(deps): update various development and production dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(deps): update various transient dependencies
  pnpm-lock.yaml
Due: none

♻️ refactor(eslint): configure unused-vars rule with ignore patterns
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(deps): update direct dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

♻️ refactor(config): remove deprecated baseUrl from tsconfig.json
  tsconfig.json
Due: prettier -w

🔧 chore(deps): update various dependencies and override 'tmp' version
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(deps): update various dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(eslint): update react-hooks and prettier configurations
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

♻️ style(imports): enforce consistent semicolon usage in imports
  src/components/test-components/PageHeaderComponent.tsx
  src/components/ui/chart.tsx
  src/components/ui/resizable.tsx
  src/components/ui/switch.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(deps): upgrade multiple dependencies and apply overrides
  package.json
  pnpm-lock.yaml
Due: prettier -w

♻️ refactor(mockNextImage): greatly simplify mock next image component
  src/testUtils/mockNextImage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🐛 fix(test): update configuration after Vitest 4.1 upgrade
  src/__tests__/page.test.tsx
  src/testUtils/setupTests.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

✨ feat(test): simplify mockNextFontGoogle utility
  src/__tests__/mockNextFontGoogle.test.tsx
  src/testUtils/mockNextFontGoogle.tsx
  src/testUtils/mockNextImage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(deps): update dependencies
  pnpm-lock.yaml
Due: none

🔧 chore(deps): update pnpm overrides for security and dependency versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

🔧 chore(deps): update react-is to 19.2.4
  package.json
Due: prettier -w
