Repository theorib/next-js-boiler-room: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "tsc --noEmit --skipLibCheck"
  ],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

💄 style(eslint): rename imports for consistent naming
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

🐛 fix(eslint): ensure ConfigPlugin is never undefined
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

♻️ refactor(eslint): update ESLint configuration and imports
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

✨ feat(eslint): enhance eslint configuration
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

💄 style(MainProvider): adjust import order and cleanup comments
  src/components/providers/MainProvider.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

🔧 chore(scripts): update lint scripts in package.json
  package.json
Due: prettier -w

♻️ refactor(eslint): enhance configuration with additional parsing options
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

💄 style(testUtils): fix typo in comment
  src/testUtils/mockNextImage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

chore(dependencies): update eslint and react-compiler plugin dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

style(testUtils): fix typo in comment
  src/testUtils/mockNextImage.tsx
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

docs(eslint): update comments with additional issue reference
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

chore(dependencies): update package dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

test(vitest): update test configuration
  vitest.workspace.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

test(e2e): add and configure playwright for end-to-end testing
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

chore(eslint): update ignore patterns
  eslint.config.ts
  src/__tests__/e2e/example.spec.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

refactor(shims): move vitest.shims.d.ts to root
  vitest.shims.d.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

refactor(config): move vitest shims file to root
  tsconfig.json
Due: prettier -w

chore(eslint): migrate vitest eslint plugin to @vitest/eslint-plugin
  eslint.config.ts
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

chore(commitlint): update commit types
  commitlint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

fix(provider): resolve duplicate sidebar provider and constant access
  src/components/providers/MainProvider.tsx
  src/components/test-components/MainLayout.tsx
  src/components/ui/sidebar.tsx
  src/lib/constants.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

chore(deps): add `@vitest/eslint-plugin` and update test scripts
  package.json
  pnpm-lock.yaml
Due: prettier -w

fix(husky): fix commitlint command for pnpm
  .husky/commit-msg
Due: none

fix(husky): update pre-commit hook to use custom test command
  .husky/pre-commit
Due: none

feat(eslint): add output directories to ignore patterns - add 'out', 'dist', 'coverage', 'test-results', 'tests-examples' to eslint ignore - add '.next', 'out', 'dist' to tsconfig exclude
  eslint.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

feat(eslint): add custom rule for standard async exports in Next.js route, page and layout files
  eslint.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck

chore(deps): update eslint and related dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore(deps): update several dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore(deps): bump inquirer to version 12.4.2
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore(deps): add pnpm configuration to approve build scripts for specific dependencies
  package.json
Due: prettier -w

👷 ci(husky): remove commitizen from prepare-commit-msg hook
  .husky/prepare-commit-msg
Due: none

✨ feat(commitlint): add gitmoji config preset to commitlint
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

🔧 chore(eslint): update eslint-plugin-react-hooks to v5.2.0 and use recommended config
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck, prettier -w

🔧 chore(deps): update dependencies and devDependencies
  pnpm-lock.yaml
Due: none

👷 ci(husky): update post-merge hook to run only on main branch
  .husky/post-merge
Due: none

👷 ci(husky): skip commit-msg hook on non-allowed branches
  .husky/commit-msg
Due: none

✨ feat(nextconfig): optimize lucide-react package imports
  next.config.ts
Due: eslint --fix, prettier --write, tsc --noEmit --skipLibCheck
